gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
C:\Users\SWATHISIDDHU\Desktop\siddhu\apps\youtube_ui\key.jks
C:\Users\SWATHISIDDHU\Desktop\siddhu\apps\youtube_ui\android\app\key.jks